<nav>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
<a class="navbar-brand" href="#">Mythic Mods</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarScroll">
<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" *ngIf="loggedIn()" [routerLink]="['/mod']">Mods</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" *ngIf="loggedIn()" [routerLink]="['/games']">Games</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" *ngIf="loggedIn()">Profile</a>
  </li>
</ul>
<div class="d-flex align-items-center">
  <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/login']" *ngIf="! loggedIn()">
    Login
  </button>
  <button type="button" class="btn btn-primary me-3" [routerLink]="['/register']" *ngIf="! loggedIn()">
    Sign up for free
  </button>

    <div *ngIf="loggedIn()">
      <app-logout></app-logout>
    </div>
  <a
    class="btn btn-dark px-3"
    href="https://github.com/mdbootstrap/mdb-ui-kit"
    role="button"><i class="fa fa-github"></i
  ></a>
</div>



</div>
</div>
</nav>
</div>


</nav>





