<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="content1">
  <div
    class="container-fluid bg-trasparent my-4 p-3"
    style="position: relative"
  >

  <button class="btn btn-primary" (click)="open(content2); newGame">Add New Game</button>

    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col" *ngFor="let g of games" >
        <div class="card h-100 shadow-sm">
          <img [src]="g.imageUrl" class="card-img-top" alt="..." name="imgUrl" />
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-primary">{{
                g.name
              }}</span>

              <span class="float-end price-hp">{{ g.description }}</span>
              <ngb-rating [(rate)]="currentRate"></ngb-rating>
              <hr>
              <pre>Rate: <b>{{currentRate}}</b></pre>
            </div>
            <h5 class="card-title"></h5>
            <div class="text-center my-4">
              <a href="#" class="btn btn-primary" [routerLink]="['/games/'+g.id]">View</a>
              <button class="btn btn-danger" (click)="deleteGame(g.id)" *ngIf="isAdmin()" >Delete</button>
              <a class="btn btn-warning" (click)="open(content); editGame=g" *ngIf="isAdmin()">Edit</a>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit This Game </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <form *ngIf="editGame != null">
  <div class="modal-body">

      <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="editGame.name" >
      </div>

      <label for="description">Description</label>
      <input type="text" class="text-area form-control" name="description"  [(ngModel)]="editGame.description">

      <label for="version">Version</label>
      <input type="text" name="version" class="form-control" [(ngModel)]="editGame.multiplayer">

      <label for="imageUrl"> Image Url</label>
      <input type="text" class="text-area form-control" name="imageUrl" [(ngModel)]="editGame.imageUrl" >

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="updateGame(editGame)">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Game </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <form *ngIf="newGame != null">
  <div class="modal-body">

      <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="newGame.name">
      </div>

      <label for="description">Description</label>
      <input type="text" class="text-area form-control" name="description"  [(ngModel)]="newGame.description">

      <label for="version">Multiplayer</label>
      <input type="text" name="multiplayer" class="form-control" name="multiplayer" [(ngModel)]="newGame.multiplayer">

      <label for="imageUrl"> Image Url</label>
      <input type="text" class="text-area form-control" name="imageUrl" [(ngModel)]="newGame.imageUrl" >

      <label for="developer"> Developer</label>
      <select name="developer.id" id="" [(ngModel)]="newGame.developer.id">
        <option value="{{d.id}}" *ngFor="let d of developers">{{d.name}}</option>
      </select>

      <label for="publisher"> Publisher</label>
      <select name="publisher.id" id="" [(ngModel)]="newGame.publisher.id">
        <option value="{{p.id}}" *ngFor="let p of publishers">{{p.name}}</option>
      </select>

      <label for="rating"> Rating</label>
      <select name="rating.id" id="" [(ngModel)]="newGame.rating.id">
        <option value="{{r.id}}" *ngFor="let r of rating">{{r.name}}</option>
      </select>

      <label for="platform"> Platform</label>
      <select name="platform.id" id="" [(ngModel)]="newGame.platform.id">
        <option value="{{p.id}}" *ngFor="let p of platforms">{{p.name}}</option>
      </select>

      <!-- <label for="mods"> Mods</label>
       <select name="" id="" [(ngModel)]="newGame.platform.id">
        <option value="{{p.id}}" *ngFor="let p of platforms">{{p.name}}</option>
      </select>

      <label for="category"> Category</label>
      < <select name="" id="" [(ngModel)]="newGame.platform.id">
        <option value="{{p.id}}" *ngFor="let p of platforms">{{p.name}}</option>
      </select>-->

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addGame(newGame)">Save</button>
    </div>
  </form>
</ng-template>
