#container {
  display: grid;
  height: 100vh;
  grid-template-columns: .2fr 1fr 1fr 1fr 1fr .2fr;
  grid-template-rows: 0.5fr 1fr 1fr .2fr;
  grid-template-areas:
  "nav nav nav nav nav nav"
  "sidebar main main main main sidebar2"
  "sidebar content1 content1 content1 content1 sidebar2"
  "footer footer footer footer footer footer";
  grid-gap: 1.5rem;

}

nav {
  background-color: orange;
  grid-area:nav;
}

main {
  background-color: #84ffff;
  grid-area:main;




}

#sidebar {
  /* background-color: #18ffff; */
  grid-area:sidebar;
}

#sidebar2 {
  /* background-color: red; */
  grid-area:sidebar2;
}

#content1 {
  background-color: #f3f9f6;
  grid-area:content1;
}
#content2 {
  background-color: #73ffba;
  grid-area:content2;
}

#content3 {
  background-color: #73ffba;
  grid-area:content3;
}



.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}



footer {
  background-color: rgb(195, 186, 195);
  grid-area:footer;
}


.carousel-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
