<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title></title>
  </head>
  <body>

    <div id="container">

      <main>

        <img src="https://s.yimg.com/ny/api/res/1.2/68aoN71RqLGpEhyU.4JLhA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTU0MA--/https://s.yimg.com/uu/api/res/1.2/pc.Z7ZgHPq0oy7v4qqXMhA--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en_US/News/US-AFPRelax/cyberpunk2077fe.7eddd152803.original.jpg" alt="">



      </main>
      <div id="sidebar">
        <img src="https://lh3.googleusercontent.com/XdQ7HPO6byVPsV69RHxeIoFEJXU_N2uddgSX5eY8K4JKatoiU3C__WSeurm04yoOSN0yzOO4QZXd6XENRgIMCywdhO51f5Kmmeb9uVUq9Zxu7w=e365-rw-v0-w580" alt="">
        <img src="https://lh3.googleusercontent.com/I6aKikYrum0Dax__-AhUXoE-nEZ9b1GtGawfvOgK_C1eqHjTi1G4bZs4tiCZgwoNWqKS4rjDTpn6wg47sux3qCLuJc01MZibSEcI8fxAnCAHNg=e365-rw-v0-w580" alt="">
        <img src="https://lh3.googleusercontent.com/j3WdphwNrITb-8EJJpRgRcbTYvrPePYnaSo1lcUp0kFyj_qcbz40v7Z087sIpZZxnCF2S-cgrrCS5mdX6kB9u_qYAUzzq9VZAWYSeGR8wrxblw=e365-rw-v0-w580" alt="">
      </div>
        <div id="content1">

          <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
              <div class="col" *ngFor="let m of games" >
                 <div class="card h-100 shadow-sm">
                <img [src]="m.imageUrl" class="card-img-top" alt="..." name="imgUrl">
                 <div class="card-body">
                     <div class="clearfix mb-3">
                         <span class="float-start badge rounded-pill bg-primary">{{m.name}}</span>
                         <span class="float-end price-hp">{{m.description}}</span>
                         </div>
                         <h5 class="card-title"></h5>
                         <div class="text-center my-4">
                             <a href="#" class="btn btn-primary" *ngIf="loggedIn()"  [routerLink]="['/games/' + m.id]">view</a>
                             </div>
                             </div>
                             </div>
                             </div>



                             </div>


            </div>



        </div>


        <div id="sidebar2">
          <img src="https://lh3.googleusercontent.com/XdQ7HPO6byVPsV69RHxeIoFEJXU_N2uddgSX5eY8K4JKatoiU3C__WSeurm04yoOSN0yzOO4QZXd6XENRgIMCywdhO51f5Kmmeb9uVUq9Zxu7w=e365-rw-v0-w580" alt="">
          <img src="https://lh3.googleusercontent.com/tRYMD0bAztVP1GMWkP8s5zR89DJ6xNNevRH-4JwW8dshAqFHhO2Zk0Fv8et1J89NRyKOD3pz4xruQClA0zd3ktDHKJtN4DbLPrgE3f5kMETaqA=e365-rw-v0-w580" alt="">
          <img src="https://lh3.googleusercontent.com/9vuBS_1PoO2XmSlZTPqCv7am2MVa1WQbLnwPH8r23SJQDT8jQTuTEpRLbIrvha-j2kCroUkLtmwVtmaLtBZWSXxwF89FiW8zaApdtkp6_tbQbU0=e365-rw-v0-w580" alt="">
        </div>
        <footer class="nb-footer">
          <div class="container">
          <div class="row">
          <div class="col-sm-12">
          <div class="about">
            <img src="images/logo.png" class="img-responsive center-block" alt="">

            <!-- <div class="social-media">
              <ul class="list-inline">
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div> -->
          </div>
          </div>

          <div class="col-md-3 col-sm-6">
          <div class="footer-info-single">
            <h2 class="title">Help Center</h2>
            <ul class="list-unstyled">
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Sitemap</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Delivery Info</a></li>
            </ul>
          </div>
          </div>

          <div class="col-md-3 col-sm-6">
          <div class="footer-info-single">
            <h2 class="title">Customer information</h2>
            <ul class="list-unstyled">
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Sell Your Items</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> RSS</a></li>
            </ul>
          </div>
          </div>

          <div class="col-md-3 col-sm-6">
          <div class="footer-info-single">
            <h2 class="title">Security & privacy</h2>
            <ul class="list-unstyled">
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Terms Of Use</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Return / Refund Policy</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Store Locations</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-info-single">
            <h2 class="title">Donations</h2>
            <ul class="list-unstyled">
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Paypal</a></li>
              <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Venmo</a></li>
             <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> ApplePay</a></li>
            </ul>
          </div>
          </div>
          </div>
          </div>

          <section class="copyright">
          <div class="container">
          <div class="row">
          <div class="col-sm-6">
          <p>Copyright © 2022. Mythic Mods.</p>
          </div>
          <div class="col-sm-6"></div>
          </div>
          </div>
          </section>


















        </footer>
    </div>



  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

</html>
