

<main>

  <article class="article">
    <div class="article-img">
        <img src="https://via.placeholder.com/800x350/87CEFA/000000" title="" alt="">
    </div>
    <div class="article-title">

        <h2>They Now Bade Farewell To The Kind But Unseen People</h2>
        <div class="media">

            <div class="media-body">
                <label>Rachel Roth</label>
                <span>26 FEB 2020</span>
            </div>
        </div>
    </div>
    <div class="article-content">
        <p>Aenean eleifend ante maecenas pulvinar montes lorem et pede dis dolor pretium donec dictum. Vici consequat justo enim. Venenatis eget adipiscing luctus lorem. Adipiscing veni amet luctus enim sem libero tellus viverra venenatis aliquam. Commodo natoque quam pulvinar elit.</p>
        <p>Eget aenean tellus venenatis. Donec odio tempus. Felis arcu pretium metus nullam quam aenean sociis quis sem neque vici libero. Venenatis nullam fringilla pretium magnis aliquam nunc vulputate integer augue ultricies cras. Eget viverra feugiat cras ut. Sit natoque montes tempus ligula eget vitae pede rhoncus maecenas consectetuer commodo condimentum aenean.</p>
        <h4>What are my payment options?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <p class="blockquote-footer">Someone famous in <cite title="Source Title">Dick Grayson</cite></p>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

</article>









</main>

<div id="content1">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
<div class="col-md-8">
  <div class="box box-widget">
    <div class="box-header with-border">
      <div class="user-block">
        <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Image">
        <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
        <span class="description">Shared publicly - 7:30 PM Today</span>
      </div>
      <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
        <i class="fa fa-circle-o"></i></button>
         <!--DELETE BUTON-->
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">

      <!--POST TEXT BODY-->
      <p>Far far away, behind the word mountains, far from the
      countries Vokalia and Consonantia, there live the blind
      texts. Separated they live in Bookmarksgrove right at</p>

      <p>the coast of the Semantics, a large language ocean.
      A small river named Duden flows by their place and supplies
      it with the necessary regelialia. It is a paradisematic
      country, in which roasted parts of sentences fly into
      your mouth.</p>

      <div class="attachment-block clearfix">
        <img class="attachment-img" src="https://via.placeholder.com/400x300/" alt="Attachment Image">
        <div class="attachment-pushed">
        <h4 class="attachment-heading"><a href="http://www.lipsum.com/">Lorem ipsum text generator</a></h4>
        <div class="attachment-text">
        Description about the attachment can be placed here.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
        </div>
        </div>
      </div>
      <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
      <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
      <span class="pull-right text-muted">45 likes - 2 comments</span>
    </div>
    <div class="box-footer box-comments">
      <div class="box-comment">
        <img class="img-circle img-sm" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="User Image">
        <div class="comment-text">
          <span class="username">
          Maria Gonzales
          <span class="text-muted pull-right">8:03 PM Today</span>
          </span>
          It is a long established fact that a reader will be distracted
          by the readable content of a page when looking at its layout.
        </div>
      </div>
      <div class="box-comment">
        <img class="img-circle img-sm" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="User Image">
        <div class="comment-text">
          <span class="username">
          Nora Havisham
          <span class="text-muted pull-right">8:03 PM Today</span>
          </span>
          The point of using Lorem Ipsum is that it has a more-or-less
          normal distribution of letters, as opposed to using
          'Content here, content here', making it look like readable English.
        </div>
      </div>
    </div>
    <div class="box-footer">
      <form action="#" method="post">
        <img class="img-responsive img-circle img-sm" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Alt Text">
        <div class="img-push">
          <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
        </div>
      </form>
    </div>
  </div>
</div>
</div>


</div>

<div id="sidebar2">
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <hr/>
      <div class="review-block">
        <div class="row">
          <div class="col-sm-3">
            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
            <div class="review-block-name"><a href="#">nktailor</a></div>
            <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
          </div>
          <div class="col-sm-9">
            <div class="review-block-rate">
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
            </div>
            <div class="review-block-title">this was nice in buy</div>
            <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-3">
            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
            <div class="review-block-name"><a href="#">nktailor</a></div>
            <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
          </div>
          <div class="col-sm-9">
            <div class="review-block-rate">
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
            </div>
            <div class="review-block-title">this was nice in buy</div>
            <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-3">
            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
            <div class="review-block-name"><a href="#">nktailor</a></div>
            <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
          </div>
          <div class="col-sm-9">
            <div class="review-block-rate">
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
            </div>
            <div class="review-block-title">this was nice in buy</div>
            <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div> <!-- /container -->

</div>
